@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: orange;
  }
}

@font-face {
  font-family: "Byekan";
  src: url("../public/assets/Fonts/B_Yekan/Yekan.ttf");
}

body {
  font-family: "IRANSans";
  /* background-color: var(--background-color);
  color: var(--text-color); */
}

@layer utilities {
  .dark {
    background-color: rgb(53, 51, 51);
    transition-duration: 100ms;
  }
  .light {
    transition-duration: 100ms;
  }
}

.selection_btn {
  @apply bg-white text-black text-[12px] font-bold rounded-[4px] py-[6px] px-2 focus:bg-buttons_color focus:text-white ml-3 duration-300;
}

.container_self {
  @apply w-[73%] py-[50px];
}

.absolute_btns {
  @apply absolute right-4 top-4 text-white text-[13px] bg-orange-500 py-1 px-4;
}

@font-face {
  font-family: IRANSans;
  src: url("../public/assets/Fonts/IRANSans/IRANSansWeb.ttf");

  font-weight: 400;
  font-style: normal;
}

.ratio {
  position: relative;
  display: block;
  overflow: hidden;
}

.ratio::before {
  display: block;
  width: 100%;
  content: "";
}

.ratio-1\:1::before {
  padding-bottom: 100%;
}

.ratio-2\:1::before {
  padding-bottom: 50%;
}

.ratio-2\:3::before {
  padding-bottom: 150%;
}

.ratio-3\:2::before {
  padding-bottom: 66.66667%;
}

.ratio-3\:4::before {
  padding-bottom: 133.33333%;
}

.ratio-4\:3::before {
  padding-bottom: 75%;
}

.ratio-5\:4::before {
  padding-bottom: 80%;
}

.ratio-8\:5::before {
  padding-bottom: 62.5%;
}

.ratio-16\:9::before {
  padding-bottom: 56.25%;
}

.ratio-30\:16::before {
  padding-bottom: 53.33333%;
}

.ratio-30\:35::before {
  padding-bottom: 116.66667%;
}

.ratio-63\:57::before {
  padding-bottom: 90.47619%;
}

:root {
  --font-primary: "IRANSans", sans-serif;
  --text-6: 6px;
  --text-9: 9px;
  --text-11: 11px;
  --text-13: 13px;
  --text-14: 14px;
  --text-15: 15px;
  --text-16: 16px;
  --text-17: 17px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-30: 30px;
  --text-35: 35px;
  --text-40: 40px;
  --text-45: 45px;
  --text-50: 50px;
  --text-55: 55px;
  --text-60: 60px;
  --text-64: 64px;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-1: #140342;
  --color-dark-2: #1a064f;
  --color-dark-3: #6a7a99;
  --color-dark-4: #242239;
  --color-dark-5: #282664;
  --color-dark-6: #311f61;
  --color-dark-7: #eae9ef;
  --color-dark-8: #202124;
  --color-light-1: #4f547b;
  --color-light-2: #e4e7ea;
  --color-light-3: #eef2f6;
  --color-light-4: #f7f8fb;
  --color-light-5: #ededed;
  --color-light-6: #f5f7fe;
  --color-light-7: #e5f0fd;
  --color-light-8: #dddddd;
  --color-light-9: #eef2f6;
  --color-light-10: #f4f3f6;
  --color-light-11: #ebeafe;
  --color-light-12: #cce0f8;
  --color-purple-1: #6440fb;
  --color-purple-2: #e3edfd;
  --color-purple-3: #f4f1fe;
  --color-purple-4: #7545f0;
  --color-purple-5: #eae3fd;
  --color-green-1: #00ff84;
  --color-green-2: #def5f0;
  --color-green-3: #eef8f5;
  --color-green-4: #04d697;
  --color-green-5: #34a853;
  --color-green-6: #dff1dd;
  --color-green-7: #d9ffed;
  --color-orange-1: #e8543e;
  --color-orange-2: #f7e9e7;
  --color-orange-3: #fdf2eb;
  --color-orange-4: #e97d38;
  --color-orange-5: #fdeeec;
  --color-orange-6: #e78e34;
  --color-orange-7: #fbeee1;
  --color-red-1: #f01e00;
  --color-red-2: #fce5e2;
  --color-red-3: #d93025;
  --color-beige-1: #fefbf4;
  --color-blue-1: #65c2f9;
  --color-blue-2: #eff9fe;
  --color-blue-3: #1967d2;
  --color-blue-4: #508ef0;
  --color-blue-5: #445b95;
  --color-blue-6: #e5eefd;
  --color-blue-7: #e3e6ef;
  --color-yellow-1: #e59819;
  --color-yellow-2: #fdf8eb;
  --color-yellow-3: #ecb53e;
  --color-yellow-4: #f9ab00;
  --color-yellow-5: #fcedcd;
  --color-info-1: #cde9f6;
  --color-info-2: #4780aa;
  --color-warning-1: #f7f3d7;
  --color-warning-2: #927238;
  --color-error-1: #ecc8c5;
  --color-error-2: #ab3331;
  --color-success-1: #def2d7;
  --color-success-2: #5b7052;
}

/*login page*/

.form-page {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

@media (max-width: 991px) {
  .form-page {
    display: block;
    height: auto;
  }
}

.form-page__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40vw;
}

@media (max-width: 991px) {
  .form-page__img {
    width: 100%;
    position: relative;
  }
}

.form-page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100%;
}

@media (max-width: 991px) {
  .form-page__content {
    width: 100%;
  }
}

.form-page-composition {
  position: relative;
}

.form-page-composition .-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.form-page-composition .-bg img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form-page-composition .-el-1 {
  width: 100%;
}

.form-page-composition .-el-2 {
  position: absolute;
  bottom: 33px;
  left: 90px;
}

.form-page-composition .-el-3 {
  position: absolute;
  bottom: 290px;
  right: 20px;
}

.form-page-composition .-el-4 {
  position: absolute;
  bottom: 300px;
  left: 52px;
}

.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

form.contact-form input[type="email"] {
  direction: ltr;
}

form.contact-form select:focus,
form.contact-form input[type="text"]:focus,
form.contact-form input[type="password"]:focus,
form.contact-form input[type="search"]:focus,
form.contact-form textarea:focus,
form.contact-form input[type="email"]:focus {
  outline: none;
}

form.contact-form select.-border-dark,
form.contact-form input[type="text"].-border-dark,
form.contact-form input[type="password"].-border-dark,
form.contact-form input[type="search"].-border-dark,
form.contact-form textarea.-border-dark,
form.contact-form input[type="email"].-border-dark {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

form.contact-form ::-moz-placeholder {
  font-weight: 400;
}

form.contact-form :-ms-input-placeholder {
  font-weight: 400;
}

form.contact-form ::placeholder {
  font-weight: 400;
}

form.contact-form.-light label,
form.contact-form.-light p {
  color: white;
}

form.contact-form.-light select,
form.contact-form.-light input[type="text"],
form.contact-form.-light input[type="search"],
form.contact-form.-light textarea,
form.contact-form.-light input[type="email"] {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

form.contact-form.-light ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

form.contact-form.-light :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

form.contact-form.-light ::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.-dark-mode form.contact-form select,
.-dark-mode form.contact-form input[type="text"],
.-dark-mode form.contact-form input[type="password"],
.-dark-mode form.contact-form input[type="search"],
.-dark-mode form.contact-form textarea,
.-dark-mode form.contact-form input[type="email"] {
  border-color: rgba(255, 255, 255, 0.2);
  color: white !important;
}

form.contact-form select,
form.contact-form input[type="text"],
form.contact-form input[type="password"],
form.contact-form input[type="search"],
form.contact-form textarea,
form.contact-form input[type="email"] {
  border: 0;
  outline: none;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #dddddd;
  font-size: 15px;
  line-height: 1.5;
  padding: 15px 22px;
  transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: right;
}

.shadow-1 {
  box-shadow: 0px 20px 30px rgba(25, 25, 46, 0.04);
}

.button.-outline-blue-3 {
  border: 2px solid var(--color-blue-3);
}

.button.-outline-blue-3:hover {
  background-color: var(--color-blue-3);
  border-color: transparent;
  color: white !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
  line-height: 1;
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button.-sm {
  padding: 7px 34px;
  font-size: 15px;
  height: 40px;
}

.button.-green-1 {
  background-color: var(--color-green-1);
  border: 2px solid var(--color-green-1);
}

.button.-md {
  padding: 12px 55px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  height: 60px;
}

.containers,
.containers-fluid,
.containers-lg,
.containers-md,
.containers-sm,
.containers-xl,
.containers-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .containers,
  .containers-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .containers,
  .containers-md,
  .containers-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .containers,
  .containers-lg,
  .containers-md,
  .containers-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .containers,
  .containers-lg,
  .containers-md,
  .containers-sm,
  .containers-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .containers,
  .containers-lg,
  .containers-md,
  .containers-sm,
  .containers-xl,
  .containers-xxl {
    max-width: 1320px;
  }
}

.containers {
  padding-top: 0;
  padding-bottom: 0;
}
