@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: orange;
  }
}

@font-face {
  font-family: "Byekan";
  src: url("../public/assets/Fonts/B_Yekan/Yekan.ttf");
}

body {
  font-family: "Byekan";
  /* background-color: var(--background-color);
  color: var(--text-color); */
}

@layer utilities {
  .dark {
    background-color: rgb(53, 51, 51);
    transition-duration: 100ms;
  }
  .light {
    transition-duration: 100ms;
  }
}

.selection_btn {
  @apply bg-white text-black text-[12px] font-bold rounded-[4px] py-[6px] px-2 focus:bg-buttons_color focus:text-white ml-3 duration-300;
}

.container_self {
  @apply w-[73%] py-[50px];
}

.absolute_btns {
  @apply absolute right-4 top-4 text-white text-[13px] bg-orange-500 py-1 px-4;
}
