.introduction {
  position: relative;
  background: url("../../../../public/assets/pexels-vecislavas-popa-1571460.jpg");
  background-position: center;
  background-size: cover;
}

.introduction::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the darkness */
  z-index: 1;
}

.social_networks svg {
  @apply relative text-black w-8 h-8 p-2 rounded-full bg-white z-20 font-thin justify-center items-center  bg-gray-300 hover:bg-orange-500 duration-300;
}
